    <!--meet our team-->
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="display-4">The NewsTeam</h1>

            </div>
        </div>
    </div>

    <!--cards-->

    <!--Connect-->
    <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-12">
                <h3>Connect</h3>
            </div>
            <div class="col-12 social padding">
                <a href="https://www.facebook.com/pages/category/College---University/CampusWeekly-108456540901823/"
                    target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/@WeeklyCampus" target="_blank"><i class="fa fa-twitter-square"></i></a>
                <a href="https://www.instagram.com/campusweekly/?hl=en" target="_blank"><i
                        class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="https://youtube.com/channel/UC8-lmzpg1X9hNXJc6V8FkWQ" target="_blank"><i
                        class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>

    <div class="container-fluid text-white" style="background-color: #051e58;">
        <div class="row text-center text-white">
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Campus Projects</h3>
                <hr style="border: 2px solid white;">
                <p>
                    <a href="https://campusweekly.herokuapp.com" target="_blank"
                        style="text-decoration: none; color: white;">CampusWeekly</a>
                </p>
                <p>
                    <a href="https://www.yammieshoppers.com" target="_blank"
                        style="text-decoration: none; color: white;">YammieShoppers</a>
                </p>
                <p>
                    <a href="https://beaconhostels.herokuapp.com" target="_blank"
                        style="text-decoration: none; color: white;">BeaconHostels</a>
                </p>
                <p>
                    <a href="https://www.beaconnetug.com/" target="_blank"
                        style="text-decoration: none; color: white;">Beaconnetug</a>
                </p>
            </div>
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Following</h3>
                <hr style="border: 2px solid white;">
                <p>
                    <a href="https://www.facebook.com/pages/category/College---University/CampusWeekly-108456540901823/"
                        target="_blank" style="text-decoration: none; color: white;">Facebook</a>
                </p>
                <p>
                    <a href="https://youtube.com/channel/UC8-lmzpg1X9hNXJc6V8FkWQ" target="_blank"
                        style="text-decoration: none; color: white;">YouTube</a>
                </p>
                <p>
                    <a href="https://twitter.com/@WeeklyCampus" target="_blank"
                        style="text-decoration: none; color: white;">Twitter</a>
                </p>

                <p>
                    <a href="https://www.instagram.com/campusweekly/?hl=en" target="_blank"
                        style="text-decoration: none; color: white;">Instagram</a>
                </p>
            </div>
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Related Sites</h3>
                <hr style="border: 2px solid white;">
                <p>
                    <a href="https://www.yammieshoppers.com" target="_blank"
                        style="text-decoration: none; color: white;">YammieShoppers</a>
                </p>
                <p>
                    <a href="https://thebee.lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">E - Learning</a>
                </p>
                <p>
                    <a href="https://student.lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">Student Portal</a>
                </p>
                <p>
                    <a href="https://lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">University Website</a>
                </p>
            </div>
        </div>
        <hr style="border: 2px solid white;">
        <p class="text-center">&copy; Copyright 2021 - CampusWeekly. All Rights Reserved.</p>
    </div>
