<!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/campusweeklylogo.png " alt="logo"
                    style=" height: 80px; width: 120px; background-color: rgb(255, 255, 254);">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarResponsive">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/campus-101">Campus 101</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/interview">Interviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/internship">Internship</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/inspiration">Inspiration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/uncensored">Uncensored</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/noticeboard">NoticeBoard</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
