<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusWeekly</title>
    <link rel="shortcut icon" href="images/campusweeklyfavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {{!--
    <link rel="stylesheet" href="css/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/campusweeklylogo.png " alt="logo"
                    style=" height: 80px; width: 120px; background-color: rgb(255, 255, 254);">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarResponsive">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/story">Campus 101</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/interview">Interviews</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/internship">Internship</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/inspiration">Inspiration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/lifestyle">NoticeBoard</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <!--slider images-->

    <!--JUmbotron-->

    <!--welcome-->


    <!--Three column selection-->

    <!--Two column section-->
    <div class="container">
        <h1 style="text-align: center;">HOW MUCH ARE WE DOING AS STUDENT MIDWIVES </h1>
        <div style="margin-bottom: 10px;">
            <img class="d-block w-100" src="images/inspired6.jpg" alt="First slide">
            <h6 style="font-weight: bold;"><i class="fa fa-edit"></i> Story by Aron Eryau</h6>
        </div>

        <div class="row padding">
            <div class="col-md-12 col-lg-6">
                <p>
                    <span style="float: left;  font-size: 500%; line-height: 90%;">W</span>hat can I say? You know
                    that little excitement that you get once you’ve just tweeted or posted a photo on Facebook, and many
                    people liked it! Well yeah, that's the exact kind of high I get every time a patient says thank you,
                    you were so helpful.
                </p>
                <p>
                    Am writing about domiciliary in a third world country, in the middle of a pandemic and a course
                    that's barely recognized in the whole country at all. Most times I look back and ask myself, “is
                    this truly it? Is this what brings you joy? Is this where you find meaning? Are you in the right
                    place?” And every time my gut gives me the same answer; ''you don't feel like a stranger here and
                    you know it!''
                </p>

                <p>
                    In my program, domiciliary is a requirement for you to complete your third year. Ideally, a client
                    is supposed to be followed right from the very first time they attend Antenatal care (ANC) till
                    about 6 weeks post-delivery. But honestly speaking, this is Uganda; no one has that much funding to
                    carry out such a project! Plus; no donor would be willing to fund such an initiative.
                </p>
                <p>
                    So here is what we do instead! We attend to pregnant women who arrive at the delivery room; confirm
                    active labour, monitor till delivery is complete. As long as it's a normal spontaneous vaginal
                    delivery (SVD) and the individual stays 10km radius from the hospital, that's a domiciliary case
                    that you'll follow for the next seven days.
                </p>
                <p>
                    I need to say that even with this development, following 4 or 5 mothers as a domiciliary case is not
                    as easy as it may sound. Domiciliary tries you; not just your ability to care for a woman during
                    childbirth! It tests you as a whole. I’m talking spiritually; economically, physically, emotionally,
                    your patience too! It tests you in all aspects as a human being.
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    But here is what I learned. We have touched lives; changed the perception of many towards midwives,
                    made many realize men in midwifery are safe and can do even much better. I know one thing for sure;
                    with proper postnatal care, many hospitalizations of neonates in their first 28 days of life could
                    be avoided, should a proper system of community midwifery be developed in this country.
                </p>
                <p>
                    Many complications that post-natal mothers develop could be handled in the community without
                    reaching the hospital. I have come to know the importance of midwives in this country! We can do so
                    much more than just conduct deliveries; Be it a bachelor’s degree midwife, diploma or certificate.
                    We can touch lives just by being nice to patients – getting them the help they need. How one handles
                    a client can affect the perception of many towards us as an entire profession.
                </p>
                <p>
                    Domiciliary made me realize that we were never just health workers trying to help our clients, or
                    just students trying to earn a degree! We became family friends; we became health models to many in
                    the community.
                </p>
                <p>
                    “My neighbour says that when she delivers, she would wish to find the other students in white in
                    maternity. They care so much for pregnant women!” A comment from a mother – my third case! This
                    brought me to realize that what we are doing isn't just a practice of midwifery; we are changing the
                    public opinion about midwives and nurses in this town. And I believe, eventually the entire
                    country’s opinion will change too.
                </p>
                <p>
                    For the CampusWeekly, I am Aron Eryau, wishing you the very best in all your endeavors! Stay tuned
                    in for more.
                </p>


            </div>
        </div>
    </div>
    <!--fixed background-->

    <!--Emoji section-->

    <!--meet our team-->
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="display-4">The NewsTeam</h1>
                <hr style="width: 100%; border: 2px solid brown;">
            </div>
        </div>
    </div>

    <!--cards-->

    <!--Connect-->
    <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-12">
                <h3>Connect</h3>
            </div>
            <div class="col-12 social padding">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-envelope-open"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="https://youtube.com/channel/UC8-lmzpg1X9hNXJc6V8FkWQ" target="_blank"><i
                        class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white">
        <div class="row text-center text-white">
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Campus Projects</h3>
                <hr style="border: 2px solid white;">
                <p>
                    <a href="https://campusweekly.herokuapp.com" target="_blank"
                        style="text-decoration: none; color: white;">CampusWeekly</a>
                </p>
                <p>
                    <a href="https://www.yammieshoppers.com" target="_blank"
                        style="text-decoration: none; color: white;">YammieShoppers</a>
                </p>
                <p>
                    <a href="https://beaconhostels.herokuapp.com" target="_blank"
                        style="text-decoration: none; color: white;">BeaconHostels</a>
                </p>
                <p>
                    <a href="https://www.beaconnetug.com/" target="_blank"
                        style="text-decoration: none; color: white;">Beaconnetug</a>
                </p>
            </div>
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Following</h3>
                <hr style="border: 2px solid white;">
                <p>Facebook</p>
                <p>Whatsapp</p>
                <p>Twitter</p>
                <p>Instagram</p>
            </div>
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Related Sites</h3>
                <hr style="border: 2px solid white;">
                <p>
                    <a href="https://www.yammieshoppers.com" target="_blank"
                        style="text-decoration: none; color: white;">YammieShoppers</a>
                </p>
                <p>
                    <a href="https://thebee.lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">E - Learning</a>
                </p>
                <p>
                    <a href="https://student.lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">Student Portal</a>
                </p>
                <p>
                    <a href="https://lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">University Website</a>
                </p>
            </div>
        </div>
        <hr style="border: 2px solid white;">
        <p class="text-center">&copy; Copyright 2021 - CampusWeekly. All Rights Reserved.</p>
    </div>

</body>

</html>